.comment {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.commentBox {
  flex: 1;
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 1s;
}

.commentBox footer button:hover {
  color: var(--pink-300);
}

.commentBox footer button svg {
  margin-right: 0.75rem;
}

.commentBox footer button span::before {
  content: "\2022";
  padding: 0 0.25rem;
}

.commentContent {
  background: var(--gray-700);
  border-radius: 0.5rem;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  transition: color 1s;
  line-height: 0;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.author {
  display: flex;
  flex-direction: column;
}

.author strong {
  line-height: 1.6;
  font-size: 0.875rem;
}

.author time {
  line-height: 1.6;
  font-size: 0.75rem;
  color: var(--gray-400);
}
