.wrapper {
  width: 100%;
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 1fr 285px;
  gap: 2rem;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .wrapper > aside {
    width: 100%;
  }
}
